:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
}

* {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.title,
.list,
.description {
    padding: 0;
    margin: 0;
}

.section {
    padding: 94px 0;
}



.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.centered-items {
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ========= Шапка ==================================== */

.header {
    min-width: 1200px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-flex {
    display: flex;
    padding: 24px 0;
    margin: 0;
}

.header-flex .link {
    padding: 15px 0;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--accent-color);
}

/* -----logo-----  */

.studio-header {
    color: #000000;
}

/* -----Навигация----- */

.header-nav {
    display: flex;
    margin: 0;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-item:not(:first-child) {
    margin-left: 50px;
}

/* -----Контактьі----- */

.contacts-list {
    display: flex;
    margin-left: 331px;
}

.contacts-item:not(:first-child) {
    margin-left: 50px;
}

.header .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    text-decoration: none;
}

.header .contacts-item>.link {
    color: var(--secondary-text-color);
}

.link.current-page {
    color: var(--accent-color);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

/* ========= Герой ==================================== */

.hero {
    min-width: 1200px;
    text-align: center;
    background-color: #2F303A;
}
.hero .container {
    padding: 200px 0;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.main-btn {
    cursor: pointer;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: var(--accent-color);

    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
}    
    
.main-btn:hover,
.main-btn:focus {
    background-color: #188CE8;
}

/* ========= Особенности ============================== */

.features {
    margin-top: 94px;
    padding: 0;
}
.feature-list {
    display: flex;
    flex-basis: calc((100% - 30px) / 4);
}

.feature-list .item:not(:first-child){
    margin-left: 30px;
}

.features .list-title {
    margin-bottom: 10px;
}

.list-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;

    text-transform: uppercase;
}

.description {
    font-size: 14px;
    line-height: 1.71;

    color: #757575;
}

/* ========= Чем мы занимаемся ======================== */

.occupations .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

.occupations-list {
    display: flex;
}

.occupations-list .item:not(:first-child){
    margin-left: 30px;
}

/* ========= Наша команда ============================= */
.team {
    min-width: 1200px;
    text-align: center;
    background-color: #F5F4FA;
}

.team-title {
    margin-bottom: 50px;
}
.team-list {
    display: flex;
}

.team-list .item:not(:first-child){
    margin-left: 30px;
}

.card {
    padding-bottom: 30px;
    width: 270px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}

.teammate-photo {
    margin-bottom: 30px;
}

.team-list-title {
    margin-bottom: 10px;
    font-weight: 500;
}

.team-list-item {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}

/* ========= Подвал =================================== */

.footer {
    min-width: 1200px;
    padding: 60px 0;
    background-color: #2F303A;
}

.footer .description {
    margin-bottom: 20px;
}

.studio-footer {
    color: #FFFFFF;
}

.address-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address {
    color: #FFFFFF;
}
.footer .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    }
    
.footer .link:hover,
.footer .link:focus {
    color: #FFFFFF;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++ Сторінка портфоліо ++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*----- Фильтрьі -----*/

.portfolio {
    padding: 94px 0;
}

.filters {
    display: flex;
    padding: 0;
    margin-bottom: 50px;
    justify-content: center;
}

.filters-list-btn {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

.filters-item-btn {
    padding: 6px 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;
    
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border: 0;
    border-radius: 4px;
}

.filters-item:not(:first-child) {
    margin-left: 8px;
}
    
.filters-item-btn:hover,
.filters-item-btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*----- Примерьі работ -----*/

.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.examples-item {
    margin: 0 30px 30px 0;
    background-color: #FFFFFF;
}

.examples-item:nth-child(3n) {
    margin-right: 0;
}

.examples-item:nth-child(n + 7) {
    margin-bottom: 0;
}

.examples-description-group {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    margin: 0 0 4px 0;
}

.examples-description {
    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color);
    margin: 0;
}